@import url(https://fonts.googleapis.com/css2?family=Outfit&display=swap);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
}
.container {
    background-color: var(--white);
    border-radius: 25px;
    max-width: 22rem;
    box-shadow: hsl(212deg 11% 77% / 71%) 0px 0px 15px 0px;
    margin: 0 2rem;
}

img {
    border-radius: 25px;
    width: 100%;
    padding: 1rem;
}

section {
    padding: 0 2rem .75rem 2rem;
    text-align: center;
}

h1 {
    color: var(--darkBlue);
}

p {
    padding: 1em 0;
    color: var(--grayishBlue);
}

.attribution {
    font-size: .7rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
